version: '3.8'

services:

  # banco de dados MONGO DB
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  # discovery server eureka
  discovery-server:
    image: discovery-server
    container_name: discovery-server
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker


  # api gateway
  api-gateway:
    image: api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
    depends_on:
      - discovery-server


  # auth service
  auth-service:
    image: auth-service
    container_name: auth-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/barbearia_auth
      # Suas chaves (Você pode usar um arquivo .env aqui também se quiser)
      - GOOGLE_CLIENT_ID=12206979013-qo9dd1cep983lqv5afrnv976glleovgs.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - JWT_SECRET=k@8b$Z!E(H+MbQeThVmYq3t6w9z$C&F)J@NcRfUjWnZr4u7x!A%D*G-KaPdSgVkY
    depends_on:
      - discovery-server
      - mongodb


  # agendamento service
  agendamento-service:
    image: agendamento-service
    container_name: agendamento-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/barbearia_agenda
      - JWT_SECRET=k@8b$Z!E(H+MbQeThVmYq3t6w9z$C&F)J@NcRfUjWnZr4u7x!A%D*G-KaPdSgVkY
    depends_on:
      - discovery-server
      - mongodb


  # pagamento service
  pagamento-service:
    image: pagamento-service
    container_name: pagamento-service
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-server:8761/eureka/
      - JWT_SECRET=k@8b$Z!E(H+MbQeThVmYq3t6w9z$C&F)J@NcRfUjWnZr4u7x!A%D*G-KaPdSgVkY
      - STRIPE_SECRET_KEY=sk_test_51SS6HXArY2pGf1rxZXCc7e8HExbMRwfGFUYON3tH7iG3cF4LUzXFKyyKyjJvsJdrTk49Ft2ZBEDJZ8RN7lZ1aEpt00ELaeLgMR
    depends_on:
      - discovery-server

volumes:
  mongo_data: